!!! 5
%html
  %head
    %title
      paleio
    = stylesheet_link_tag    "http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic"
    = stylesheet_link_tag    "application"
    = requirejs_include_tag  "invitations"
    = csrf_meta_tags

  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.brand{ :href => "#" } paleio
          %ul.nav
            %li
              %a.sign_up{ :style => 'cursor:none;' } Invitation
    .container
      = yield

    #modal_placeholder

